GEMINI_API_KEY=
CALCOM_API_KEY=
CALCOM_EVENT_TYPE_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
VAPI_API_KEY=
RESUME_TEXT_PATH=./data/resume.txt
GITHUB_REPOS_PATH=./data/repos/
OWNER_NAME=Daksh
ROLE=AI Developer
PORT=8000
